@if (item) {
<div class="d-flex gap-2 py-2 flex-wrap">
  <div
    style="
      border-radius: 50%;
      color: black;
      background-color: whitesmoke;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    {{ item.id }}
  </div>
  <div class="card" style="width: 12rem; height: 12rem">
    <img
      [src]="'pokemon.json/item.png'"
      class="card-img-top"
      alt="Item"
      style="display: block; width: 50%; margin: 0 auto"
    />
    <div class="card-body" style="text-align: center">
      <p class="card-text">
        <strong>{{ item.name.english }}</strong>
      </p>
      <p class="card-text">
        {{ item.name.japanese }}
      </p>
    </div>
  </div>
</div>
}
