.btn{
    color: white;
    text-shadow: 1px 1px 2px black;
}
.flying{
    border: 4px solid rgb(120, 171, 203);
}
.grass{
    border: 4px solid green;
}
.fire{
    border: 4px solid red;
}
.water{
    border: 4px solid rgb(63, 185, 226);
}
.bug{
    border: 4px solid olive;
}
.normal{
    border: 4px solid rgb(141, 141, 141);
}
.poison{
    border: 4px solid purple;
}
.electric{
    border: 4px solid gold;
}
.ground{
    border: 4px solid saddlebrown;
}
.fairy{
    border: 4px solid pink;
}
.fighting{
    border: 4px solid darkred;
}
.psychic{
    border: 4px solid magenta;
}
.rock{
    border: 4px solid rgb(114, 114, 63);
}
.ghost{
    border: 4px solid rgb(95, 75, 101);
}
.ice{
    border: 4px solid lightblue;
}
.dragon{
    border: 4px solid goldenrod;
}
.dark{
    border: 4px solid rgb(0, 0, 0);
}
.steel{
    border: 4px solid rgb(204, 204, 204);
}
.flying .btn {
    background-color: rgb(120, 171, 203);
}
.flying .btn:hover {
    background-color: rgb(100, 150, 180); /* Less saturated blue */
}
.grass .btn {
    background-color: green;
}
.grass .btn:hover {
    background-color: #228b22; /* Less saturated green */
}
.fire .btn {
    background-color: red;
}
.fire .btn:hover {
    background-color: rgb(255, 62, 62); /* Less saturated red */
}
.water .btn {
    background-color: rgb(63, 185, 226);
}
.water .btn:hover {
    background-color: rgb(79, 164, 201); /* Less saturated blue */
}
.bug .btn {
    background-color: olive;
}
.bug .btn:hover {
    background-color: #6b8e23; /* Less saturated olive */
}
.normal .btn {
    background-color: rgb(141, 141, 141);
}
.normal .btn:hover {
    background-color: rgb(170, 170, 170); /* Slightly lighter gray */
}
.poison .btn {
    background-color: purple;
}
.poison .btn:hover {
    background-color: #9370db; /* Less saturated purple */
}
.electric .btn {
    background-color: gold;
}
.electric .btn:hover {
    background-color: #d4af37; /* Less saturated gold */
}
.ground .btn {
    background-color: saddlebrown;
}
.ground .btn:hover {
    background-color: #8b4513; /* Less saturated brown */
}
.fairy .btn {
    background-color: pink;
}
.fairy .btn:hover {
    background-color: #ffb6c1; /* Less saturated pink */
}
.fighting .btn {
    background-color: darkred;
}
.fighting .btn:hover {
    background-color: #8b0000; /* Less saturated dark red */
}
.psychic .btn {
    background-color: magenta;
}
.psychic .btn:hover {
    background-color: #c71585; /* Less saturated magenta */
}
.rock .btn {
    background-color: rgb(114, 114, 63);
}
.rock .btn:hover {
    background-color: rgb(140, 140, 80); /* Slightly lighter rock color */
}
.ghost .btn {
    background-color: rgb(95, 75, 101);
}
.ghost .btn:hover {
    background-color: rgb(120, 100, 130); /* Less saturated ghost color */
}
.ice .btn {
    background-color: lightblue;
}
.ice .btn:hover {
    background-color: #add8e6; /* Slightly less saturated light blue */
}
.dragon .btn {
    background-color: goldenrod;
}
.dragon .btn:hover {
    background-color: rgb(255, 199, 56); /* Less saturated goldenrod */
}
.dark .btn {
    background-color: rgb(0, 0, 0);
}
.dark .btn:hover {
    background-color: rgb(30, 30, 30); /* Slightly lighter black */
}
.steel .btn {
    background-color: rgb(204, 204, 204);
}
.steel .btn:hover {
    background-color: rgb(220, 220, 220); /* Slightly lighter steel color */
}
