<div class="btn-group d-flex mt-2 bg-dark mt-4">
  <button type="button" class="btn btn-outline-danger" (click)="resetPokedex()">
    Gotta catch'em all
  </button>
  @for (t of fullTypes; track $index) {
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="filterByType(t.english)"
  >
    {{ t.english }}
  </button>
  }
</div>
<div class="d-flex flex-wrap gap-3 justify-content-center my-5">
  @if (!selectedType) { @for (p of fullPokemon; track $index) {
  <app-card [pokemon]="p"></app-card>
  } } @else { @for (p of filteredPokemon; track $index) {
  <app-card [pokemon]="p"></app-card>
  } }
</div>
