<nav
  class="navbar bg-dark d-flex gap-2 py-3"
  style="
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 10px solid red;
  "
>
  <div style="width: 78%; margin: 0 0 0 0.5rem">
    <a class="navbar-brand d-block ms-2" href="#" (click)="home()">
      <img
        src="/pokemon.json/rotom.png"
        alt="Rotom_Pokedex"
        width="80"
        height="80"
      />
      <span class="text-white ms-4">Pokédex</span>
    </a>
  </div>
  <div style="width: 20%; margin: 0 0.5rem" class="d-flex gap-1">
    <input type="text" style="width: 100%" />
    <button type="button" class="btn btn-outline-danger">Search</button>
  </div>
</nav>
