@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body{
    background-color: red;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
